* {
  box-sizing: border-box;
}

body {
  background: #ffffff;   
  font-family: "Times New Roman", Times, serif;
}

.top-banner {
  width: 100%;
  height: auto;
  display: block;
}

.bottom-banner {
  width: 100%;
  height: auto;
  display: block;
}